module Day${DAYNUM}
  (
  doDay${DAYNUM}
  ) where

import Lib

type Day${DAYNUM}Input = ()

parseInput :: String -> Day${DAYNUM}Input
parseInput = \x -> ()

doDay${DAYNUM} :: IO ()
doDay${DAYNUM} = doDay ${DAYNUM} parseInput part1 part2

part1 :: Day${DAYNUM}Input -> Result Int
part1 xs = NotImpl

part2 :: Day${DAYNUM}Input -> Result Int
part2 xs = NotImpl
